@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap');

/* colors used for the website */

:root {
    --grey: #4f4f4f;
    --light-grey: #f1f1f1;
    --light-grey-transparent: #f1f1f170;
    --white: #fff;
    --black: #000;
    --black-50: #00000080;
    --black-25: #00000040;
    --dark-grey: #2c3135;
    --maroon-shade: #b11942;
    --maroon-shade-darker: #8E1435;
    --green: #118102;
    --mustard-alert: #eec802;
}

/* global styles */

* {
    margin: 0;
    padding: 0;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 1.5rem;
    border: 0;
    background: var(--mustard-alert);
}

.site

.callout-container {
    height: 100vh;
    background: url("../images/whiskey-background.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--black-50);
}

.monthly-favorites-container {}

.quotes-container {}

.features-container {}

/* Page headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

/* Block dividers */
.block-divider {
    width: 7.5rem;
    height: 5px;
    border: 0;  
    margin: 0 auto;
    background: var(--dark-grey);
}

.block-divider-maroon-shade {
    background: var(--maroon-shade);
}

.block-divider-short {
    width: 3.5rem;
}

/* Content containers */

.content-container {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

/* Navbar */

.navalert-container{
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background: var(--black-25);    
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: 700;
}

.navbar .navbar-nav a {
    font-weight: 700;
}


/* Jumbotron */

.jumbotron {
    background: transparent;
}

.jumbotron-header {
    color: var(--white);
    font-weight: 700;
    margin-bottom: 3rem;
}

.jumbotron .lead {
    margin: 2.5rem 0;
    color: #a7a7a7;
}

.jumbotron small {
    font-style: italic;
    color: #d0d0d0;
}

/* Buttons */

.btn--cta {
    font-weight: 700;
    border-radius: 2.3rem;
    width: 16rem;
}

.btn--maroon-shade {
    color: var(--white);
    background: var(--maroon-shade);
}

.btn--maroon-shade:hover,
.btn--maroon-shade:active,
.btn--maroon-shade:focus,
.btn--maroon-shade:active:focus{
    background: var(--maroon-shade-darker);
    
}